.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-1 {
    flex: 1;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.items-start {
    align-items: flex-start;
}
.items-center {
    align-items: center;
}
.items-stretch {
    align-items: stretch;
}
.items-end {
    align-items: flex-end;
}
.h-full {
    height: 100%;
}
.w-full {
    width: 100%;
}
.h-screen {
    height: 100vh;
}
.w-0 {
    width: 0;
}
.h-0 {
    height: 0;
}
.pointer {
    cursor: pointer;
}
.turncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.overflow-auto {
    overflow: auto;
}
.text-start {
    text-align: start;
}
.text-center {
    text-align: center;
}
.hidden {
    display: none;
}
